{% block upload_csv %}
    <article>
        <a href="{% url 'proveedor-csv' %}"><button>Subir Archivo CSV</button></a>
    </article>
{% endblock %}
{% block content %}
    <article>
        <a href="{% url 'proveedor-create' %}"><button>Agregar Proveedor</button></a>
    </article>
    {% for proveedor in proveedor_list %}
        <article>
            <h2>
                <a href="{% url 'proveedor-detail' proveedor.id %}">
                    {{ proveedor.nombre }}
                </a>
            </h2>
        </article>
    {% endfor %}
{% endblock %}