{% block upload_csv %}
    <form action="{% url 'ingrediente-csv' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
        <div class="col-md-8">
            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
        </div>
        <div class="col-md-8">
                <label for="encabezado">Tiene Encabezados</label>
                <input type="checkbox" name="encabezado" id="encabezado" class="form-control">
            </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
             <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
        </div>
    </div>
    </form>
{% endblock %}
{% block content %}
    <article>
        <a href="{% url 'ingrediente-create' %}"><button>Agregar Ingrediente</button></a>
    </article>
    {% for elaboracion in elaboracion_list %}
        <article>
            <h1>
                <a href="{% url 'elaboracion-detail' elaboracion.id %}">
                    {{ elaboracion.nombre }}
                </a>
            </h1>
            <h2>Ingredientes</h2>
        </article>
        {% for ingrediente in ingrediente_list %}
            {% if elaboracion.nombre|slugify == ingrediente.elaboracion|slugify %}
                <article>
                    <h3>
                        {% if ingrediente.producto %}
                            <a href="{% url 'ingrediente-detail' ingrediente.id %}">
                                     {{ ingrediente.producto }}
                            </a>
                        {% else %}
                            <a href="{% url 'ingrediente-detail' ingrediente.id %}">
                                     {{ ingrediente.producto_elaboracion }}
                            </a>
                        {% endif %}
                    </h3>
                </article>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}